body {
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainMenu {
    font-family: 'Proxima Nova Sm';
    /* background: linear-gradient(to top left, #2A3A33DD, #626064DD); */
    /* background-image: linear-gradient(to top, #09203fdd 0%, #537895dd 100%); */
    /* background-image: linear-gradient(to top, #dfe9fddd 0%, #ffffffdd 100%); */
    /* background: linear-gradient(to top,#66369c,#47439a,#345db8); */
    background: linear-gradient(to top,#131111dd,#43225edd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 800px;
    margin: 16% auto;
    padding: 20px;

    display: flex;
}

.menuHeader {
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* color: rgb(37, 37, 37); */
    font-family: 'Proxima Nova Bold';
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}

.content_menu {
    font-family: 'Proxima Nova Rg';
    color: rgba(255, 255, 255, 0.733);
    /* color: rgb(32, 32, 32); */
    background-color: rgba(44, 44, 44, 0.064);
    font-size: 15.5px;
    letter-spacing: -0.1px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding: 6px 20px;
    width: 370px;

    box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.07);

    border: 1px solid rgba(255, 255, 255, 0.2);
    /* border: 1px solid rgba(133, 132, 132, 0.292); */
    transition: .3s;
}

.left_content {
    user-select: none;
}

.right_content { 
    color: rgba(255, 255, 255, 0.99);
    /* color: rgba(63, 62, 62, 0.7); */
    font-family: 'Proxima Nova Sm';
}

.right_menu {
    margin-left: 35px;
}

.content_item {
    font-family: 'Proxima Nova Sm';
    font-size: 15px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.7);
    /* color: rgb(61, 60, 60); */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: rgba(156, 155, 155, 0.35); */
    width: 350px;
    margin-top: 4px;
    padding: 10px;
    transition: .2s;    
    user-select: none;
    border: 1px solid #ffffff00;
}

.content_item:hover {
    background-color: #3461dd;
    color: #fff;
    border: 1px solid rgb(255, 255, 255, 0.0);
}

.menu_settings, .menu_info, .menu_report, .menu_help, .menu_donate, .menu_objects, .menu_inventory, .menu_cars {
    width: 370px;
    user-select: none;
}

.menu_donate {
    height: 435px;
    padding-right: 10px;
    overflow: auto;
}

.setting_item {
    display: flex;
    justify-content: space-between;
    font-family: 'Proxima Nova Sm';
    color: rgba(255, 255, 255, 0.733);
    /* color: rgb(32, 32, 32); */
    background-color: rgba(44, 44, 44, 0.064);
    font-size: 15.5px;
    letter-spacing: -0.1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.07);
    padding: 8px 15px;
    margin-bottom: 5px;
    
    transition: 0.3s;
}

.setting_item:hover .setting_value {
    letter-spacing: 0.5px;
}

.setting_name {
    font-family: 'Proxima Nova Rg';
    color: rgb(255, 255, 255);
}

.change_pass {
    transition: .3s;
    background: linear-gradient(45deg,#696eff,#6a90f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: none;
}

.white {
    color: #fff;
}

.setting_value {
    transition: .2s;
}

.img_info {
    margin: 15px;
}

.infoblock {
    display: flex;
    align-items: center;
}

.info_text {
    font-family: 'Proxima Nova Rg';
    color: rgb(204, 194, 194);
    line-height: 10px;
    font-size: 14px;
}

.close_red {
    color: white;
    background: #e7372785;
}

.close_red:hover {
    border: 1px solid #ffffff00;
    background: #e73727;
}

.input_password {
    border: 0;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.07);
    font-family: 'Proxima Nova Sm';
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    color: #fff;
}

.ask {
    border: none;
    background: #ff9945;
}

.helpPage {
    height: 360px;
    overflow: auto;
    padding-right: 10px;
}

.commands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px; 
    font-family: 'Proxima Nova Rg';
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(44, 44, 44, 0.04);
    box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.07);
    margin-top: 2px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.commands_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px; 
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px; 
}

.command_name {
    color: rgba(255, 255, 255, 1);
    font-family: 'Proxima Nova Sm';
}

.menu_donate::-webkit-scrollbar {
    width: 4px;
}
  
.menu_donate::-webkit-scrollbar-track {
    background-color: rgba(145, 142, 142, 0.229);
}
  
.menu_donate::-webkit-scrollbar-thumb {
    background-color: rgb(121, 120, 120, 0.4);
}


.helpPage::-webkit-scrollbar {
    width: 4px;
}
  
.helpPage::-webkit-scrollbar-track {
    background-color: rgba(145, 142, 142, 0.529);
}
  
.helpPage::-webkit-scrollbar-thumb {
    background-color: rgb(121, 120, 120, 0.7);
}

.donate_item {
    display: flex;
    width: 100%;
    font-family: 'Proxima Nova Rg';
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.donate_name {
    padding: 6px; 
    border: 1px solid rgba(133, 132, 132, 0.292);
    background-color: rgba(44, 44, 44, 0.04);
    width: 300px;
    font-size: 13.5px;
    text-align: center;
    border-right-style: none;
}

.donate_price {
    font-family: 'Proxima Nova Sm';
    padding: 6px; 
    /* background-image: url(img/ruble.png);
    background-size: 14px;
    background-repeat: no-repeat; */
    background-color: #23ca63dd;
    border: 1px solid #23ca63dd;
    width: 100px;
    text-align: center;
    color: #fff;
    margin-top: 2px;
    font-size: 13.5px;
}

.inventory_header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(63, 62, 62, 0.65);
    margin-bottom: 7px;
}

.inventory_item {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    font-size: 15.5px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(133, 132, 132, 0.292);
    background-color: rgba(44, 44, 44, 0.04);
}

.car_list {
    border: 1px solid rgba(133, 132, 132, 0.292);
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 15px;
    margin-bottom: 5px;
    letter-spacing: -0.3px;

    transition: .5s;
}

.car_item {
    font-family: 'Proxima Nova Sm';
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.car_name {
    color: rgba(63, 62, 62, 0.6);
}

.car_value {
    font-family: 'Proxima Nova Sm';
}

.car_line {
    background-color: rgba(145, 142, 142, 0.429);
    height: 1px;
    margin: 5px 0px 5px 0px;
}

.car_header_img {
    text-transform: uppercase;
    background-image: url(img/car.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 35px;
    opacity: 0.8;
}

.car_header {
    opacity: 1;
    font-size: 14px;
    margin-left: 40px;
    color: rgba(0, 0, 0, 1);
}

.car_list:hover {
    background: #878af3dd;
}

.car_list:hover .car_item {
    color: #fff;
}

.car_list:hover .car_name {
    color: #fff;
}

.car_list:hover .car_line {
    background-color: rgba(255, 255, 255, 0.8);
}

.car_list:hover .car_header_img {
    filter: invert(1);
}

.link {
    transition: .2s;
}

.link:hover {
    opacity: 0.8;
}