#hud {
    font-family: Proxima Nova Sm;
    user-select: none;

    overflow: hidden;
}

.hud {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;    
    padding: 15px 20px;
}

.testServer {
    position: absolute;
    right: 10px;
    top: 235px;
    box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.12); 
    font-family: Proxima Nova Rg;
    text-align: center;
    color: #fff;
    background: #f04245dd;
}

.serverList {
    font-family: Proxima Nova Rg;
    font-size: 12px;
    background: #f04245dd;
    color: rgba(255, 255, 255, 0.9);
    padding: 2px 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 130px;
}

.serverInfo {
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
}

@media (max-width: 1920px){
    .hud {
        width: 330px;
    }
    .serverTime {
        font-size: 0.7vw;
    }
    progress {
        width: 160px;
    }
    .testServer {
        padding: 11px;
        width: 300px;
        font-size: 16px;
    }
    .rubles {
        font-size: 16px;
    }    
    .serverInfo {
        margin-bottom: .8vw;
    }
    .values_component {
        top: 62px;
    }
}

@media(max-width: 1600px){
    .serverTime {
        font-size: 0.94vw;
    }    
}

@media(max-width: 1366px){

}

@media (max-width: 1280px){
    .hud {
        width: 313px;
    }
    .serverTime {
        font-size: 0.95vw;
    }    
    progress {
        width: 130px;
    }    
    .testServer {
        padding: 12px;
        width: 300px;
        font-size: 14px;
    }    
    .rubles {
        font-size: 14px;
    }
    .b_rubles {
        font-size: 14px;
    }    
    .serverInfo {
        margin-bottom: .9vw;
    }    
    .values_component {
        top: 62px;
    }
}

.serverInfo {
    display: flex;
    align-items: baseline;
}

.serverName {
    margin-right: 0.5vw;
}

.serverTime {
    font-family: Proxima Nova Rg;
    color: rgba(255, 255, 255, 0.6);
}

.fist {
    background-image: url(../img/24.png);
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;    
    background-size: 55px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 1px 1px 40px rgba(255, 255, 255, 0.1);    
}

.hud_components {
    display: flex;
    flex-wrap: wrap;
}

.values_component {
    position: absolute;
    right: 20px;
    float: right;
}

.img {
    margin-left: 10px;
}

.progress-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

progress {
    height: 8px;
    border-radius: 0px;
}

progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0px;
}

progress::-webkit-progress-value {
    background-color: #f04245;
    border-radius: 0px;
}

#armour_progress::-webkit-progress-value {
    background-color: #8af2ff;
}

#need_progress::-webkit-progress-value {
    background-color: #ff9945;
}

#water_progress::-webkit-progress-value {
    background-color: #63a9ee;
}

.money_components {
    display: flex;
    justify-content: space-between;
    font-family: Proxima Nova Rg;
    margin-top: 10px;
}

.cash, .bank {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(44, 44, 44, 0.3);
    box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255, 255, 255, 0.1);    
}

.rubles {
    margin-left: 5px;
}

.bank {
    margin-left: 5px;
    display: flex;
}

.b_rubles {
    margin-right: 6px;   
}

.ammo {
    font-size: 10px;
    font-family: Proxima Nova Rg;
    margin-top: 83%;
    text-align: right;
    margin-right: 5px;
    opacity: 0.7;
    left: 21%;
}

.cashBlock {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.bankBlock {
    float: left;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.cashValue {
    font-family: Proxima Nova Rg;
    background: rgba(255, 255, 255, 0.25);
    padding: 5px 15px;
    text-align: center;
}

.cashImg {
    background-color: #9fdb63dd; 
    height: 30px;
    width: 30px;
    background-image: url(../img/ruble.png);
    background-size: 11.5px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.bankImg {
    background-color: #6a90f7dd;
    background-image: url(../img/bank.png);
    background-size: 17px;
}

.needs-block {
    display: flex;
    justify-content: space-between;
}

.needs-block progress {
    width: 55px;
}

.needs-block .img {
    margin-left: 0px;
    /* margin-right: 10px; */
}